.login {
	text-align: right;
}

.success {
	color: #0da614;
}

.error {
	color: #bf0000;
}

a:link {
	text-decoration: none;
}

a:hover {
	background-color: aqua;
}

#comentarios {
	margin-top: 15px;
}

.comentarios {
	background: #F1F1F1;
	margin-bottom: 10px;
	padding: 10px;
	font-family: monospace;
}

.comentarios p {
	font-family: cursive;
	font-size: 10pt;
	text-align: justify;
}

.comentarios-avatar {
	float: left;
	margin: 0 10px 0 0;
	width: 64px;
	height: auto;
	position: relative;
}

.post-autor {
	border: 2px solid #EEE;
	position: relative;
	padding: 10px;
	color: silver;
	font-family: sans-serif;
	text-align: justify;
}

.post-avatar {
	float: left;
	margin: 0 10px 0 0;
	width: 64px;
	height: auto;
	position: relative;
}

.post-categ {
	margin-bottom: 40px;
	font-family: monospace;
}

.post-categ a:link {
	background: #c0c0c0;
	display: inline-block;
	line-height: 16px;
	color: #999;
	padding: 3px 7px;
	margin: 0 5px 2px 0;
}

.post-categ a:hover {
	background: #808080;
	color: #FFFFFF;
}

.post-texto {
	font-family: sans-serif;
	font-size: 12pt;
	text-align: justify;
	line-height: 1.5em;
	color:gray;
}

.campo {
	margin: 1em;
}

.campo input:FOCUS, .campo select:FOCUS {
	background: #F8F8F8;
}

.table {
	width: 640px;
	text-align: center;
}

.fieldset {
	width: 640px;
	margin: 0 auto;
}

fieldset.group .campo {
	float: left;
	margin-right: 2em;
}

.master {
	width: 960px;
	margin: 0 auto;
}

.header {
	text-align: center;
	font-family: monospace;
}